:root {
  --black: #002b49;
  --white: #ffffff;
  --teal: #00bab3;
  --light-blue: #f2fbfb;
}

// For now, breakpoints are 375, 768, 1280

html {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
}

@media (max-width: 375px) {
  html {
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Messina', 'Montserrat', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 4.5em;
  line-height: 50px;
  font-weight: 700;
}

h2 {
  font-size: 4em;
  line-height: 57.6px;
  font-weight: 700;
}

h5 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 28.13px;
}

.btn {
  color: var(--white);
  font-weight: 700;
  font-size: 1.35em;
  border: none;
  border-radius: 100px;
  padding: 15px 70px;
  background-color: var(--teal);
}
