.compare-container {
  .compare-title {
    padding-left: 5%;
    margin-bottom: 5%;
  }

  .compare-select {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    // background-image: url('/assets/hpi_on_tablet.png');
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: cover;
    h4 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 2em;
    }
  }

  .hpi-tool-select {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    padding: 1.5em;
  }

  .compare-table {
    th {
      max-width: 200px;
    }
    th,
    td {
      padding: 1em;
    }
    tr:nth-child(odd) {
      td {
        background-color: var(--yellow);
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
      }
    }
  }
}
