.hpi-request-demo-container {
  background: radial-gradient(#ffffff, #f2fbfb);
  background-size: cover;
  padding: 7.5% 25%;
  margin-bottom: 0;

  .hpi-request-demo-form {
    input {
      margin-bottom: 2.5em;
    }

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
