.explore-the-data-container {
  padding: 5% 5%;

  .viz-container {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100vh;
    padding: 5%;
    z-index: 0;
  }

  .wizard-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(2px);
  }

  .wizard-container {
    width: 50%;
    height: 70%;
    box-shadow: 0px 12px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    position: relative;

    .get-started-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      z-index: 1;

      .wizard-image {
        margin-top: 2em;
        margin-bottom: 1em;
      }

      h5 {
        margin-bottom: 2em;
        width: 70%;
      }

      .hpi-cookies {
        display: flex;
        align-items: center;
        width: 60%;
        margin-top: 2em;
        text-align: left;

        button {
          background: none;
          font-weight: bold;
        }
      }
    }

    .hpi-wizard-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

    .industry-container {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      select {
        margin: 4em 0;
      }
      button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
      }
    }

    .location-attribute-container {
      width: 80%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      p {
        margin: 2em 0;
      }

      .locations {
        display: flex;
        .location-type-select {
          width: 40%;
          margin-right: 10px;
        }
        .location-select {
          width: 60%;
          position: relative;
          input {
            width: 100%;
          }
          ul {
            position: absolute;
            z-index: 3;
            left: 0;
            width: 100%;
            max-height: 200px;
            overflow: scroll;
            list-style-type: none;
            text-align: left;
            background-color: white;
            border-radius: 7px;
            padding: 0;
            box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);

            li {
              padding: 5px;
              cursor: pointer;
            }

            li:hover {
              background-color: var(--blue);
              color: var(--white);
            }
          }
        }
      }
      .attributes {
        display: flex;
      }

      button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
      }

      .wizard-back-btn {
        position: absolute;
        left: 2.5%;
        top: 45%;
        width: 2em;
        cursor: pointer;
      }
    }

    .role-container {
      width: 80%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      .subtitle {
        margin: 2em 0;
      }

      .uses-index-tool {
        button {
          background: none;
        }
      }

      .generate {
        button {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2em;
        }

        .wizard-back-btn {
          position: absolute;
          left: 2.5%;
          top: 45%;
          width: 2em;
          cursor: pointer;
        }
      }
    }
  }
}
