.header {
  width: 100%;
}

.hero-container {
  // background-image: url('/assets/hpiBg.svg');
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: cover;
  position: relative;
  padding: 5% 5% 0 5%;
  margin-bottom: 1em;
}

.hpi-hero-bg {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.description {
  margin: 5% 0;
}

.hero-content {
  padding: 5% 5% 5% 5%;
}

.featured-on {
  margin-top: 1em;
  text-align: center;
  p {
    margin-bottom: 5px;
  }

  .logos {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 1em 0;

    img:nth-child(1) {
      margin-right: 1.5em;
    }
  }
}
