.learning-center-container {
  padding: 0 15%;

  .description {
    padding-bottom: 2.5%;
    border-bottom: 1px solid var(--teal);
  }

  .learning-center-icon {
    width: 10em;
  }
}

.icon-description {
  width: 50%;
  margin-left: 10px;
}
