.learning-center-container {
  padding: 0 15%;
  padding-bottom: var(--section-padding-bottom);

  .description {
    padding-bottom: 2.5%;
    border-bottom: 1px solid var(--teal);
  }

  .learning-center-icon {
    width: 10em;
    transition: all 0.8s;
    transform-origin: 50% 50%;
  }

  .learning-center-icon:hover {
    transform: scale(1.1);
  }
}

.icon-description {
  width: 50%;
  margin-left: 20px;
}

// Responsive

@media screen and (max-width: 768px) {
  .learning-center-title {
    text-align: center;
  }
  .description {
    h3 {
      margin-bottom: 1em;
    }
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .hpi-learning-center-feature {
    display: flex;
    flex-direction: column;
    text-align: center;

    div {
      width: 100%;
    }
  }

  .hpi-learning-center-feature:nth-child(2) {
    margin-bottom: 1em;
  }
}
